@import "./reset.scss";
@import "./variables.scss";
@import "https://fonts.googleapis.com/css?family=Open+Sans";
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
//@import "./bootstrap.css";

/*
  Construction
*/


/*
@media (min-width: $screen-md) { 

}
*/
body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

.construction {
  text-align: center;
  background: lightgreen;
  border-bottom: .75px solid black;

  h3 {
    font-size: 14px;
    font-weight: 500;
    padding: 0.3em 0em 0.3em 0em;
  }
}

/* BootStrap Begin */

.navbar-toggle {
  text-align: center;
}

.navbar-header   {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  background: #212121;
  margin-bottom: 0em;
  font-size: 22px;

  a {
    text-align: center;
    padding-top: .85em;
    padding-bottom: .85em;
  }


  .dropdown-toggle {
    color: white;
  }

  #basic-nav-dropdown {
    color: white;
  }
}

.carousel {
  img {
    min-height: 450px;
    max-height: 450px;
    border: 0.75px solid black;
  }

  p {
    font-size: 18px;
  }

  #keyboard {
    color: white;
    font-weight: 600;
  }
  #wtc {
    color: white;
    font-weight: 600;
  }
  #code {
    color: white;
    border-radius: 0.5em;
    padding: 0.4em;
    position: relative;
    bottom: 250px;
    font-weight: 600;
    font-size: 32px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.nav-text {
    color: white;
}
/* End Bootstrap */


/* Part One */
.app-layout {
  height: 100%;
  margin: 0 auto;
  background-color: whitesmoke;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $primary-color;
  font-size: 13px;
  margin-top: 50px;
  overflow-x: hidden;
}

.header {
  text-align: center;
  padding: 2em 0em 2em 0em;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.1);
  
  h1 {
    color: black;
    font-size: 32px;
    font-weight: 900;
  }
}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgb(59, 55, 75);
  padding: 1.5em 0em 1.5em 0em;

  img {
    border: 1px solid black;
    border-radius: .25em;
  }
}

.quote {
  text-align: center;
  padding: 2em 0em 2em 0em;
  color: rgba(0, 0, 0, 0.7);

  p  {
    padding: .3em;
    font-size: 22px;
    font-weight: 600;
  }

  cite {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;  
    font-weight: 900;
  }
  footer {
    color: rgba(0, 0, 0, 0.7);
  }
}

.skills {
  color: white;
  height: auto;
  background-color: rgba(63, 81, 181, 0.7);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  text-align: center;

  .skills-top {
    border-top: 1px solid black;
  }

  #progress {
    margin-top: 1em;
  }

  .pc {
    padding-top: 3.5em;
  }

  #skill {
    text-align: center;
    font-size: 32px;
    height: 500px;
  }

  .skill-badges {
    padding-top: 2em;
    padding-bottom: 2em;

  }
    
  .badge {
    padding: .6em;
    margin-left: .5em;
    background: #212121;
  }
  
  .tool-box {
    h3 {
      font-size: 28px;
      font-weight: 900;
      color: black;
      padding-bottom: .5em;
    }
    
    .info-box {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      height: 150px;
    }

    p {
      font-size: 18px;
      line-height: 1.4em;
      border-left: 12px solid orange;
      background-color: black;
      padding: 1em 1em 2em 1em;
      border-radius: .5em;
      color: gold;
    }
  }

  .box {
    height: 100%;
    padding-left: 25%;
    padding-right: 25%;
  }
  
  hr {
    width: 150px;
  }
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 3em; 
  padding-bottom: 3em;
  background-color: #f4e2ff;
  background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  h1 {
    
    font-size: 26px;
    font-weight: 600;

  }
  label {
    font-weight: 800;
    font-size: 18px;
    color: black;
    padding: 0em 0em .5em 0em;
  }

  input {
    font-size: 14px;
  }
  textarea {
    font-size: 14px;
  }

  #contact {
    text-align: center;
  }
}



.projects-container {
  text-align: center;

  h1 {
    font-size: 46px;
    padding: .5em 0em 0em 0em;
  }

  h3 {
    font-size: 18px;
    font-weight: 900;
    padding: 0.5em 0em 0em 0em;
    opacity: 0.9;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    padding: 1.2em 20% 0em 20%;
    line-height: 1.3em;
  }

  #soundbox-project {
    color: white;
    background: #feb236;
    height: 300px;
    border: 1px solid black;

    #bmp {
      color: white;
    }
    
    p {
      color: brown
    }

    h1 {
      color: black;
    }
    h3 {
      color: black;
    }
  }

  #nba {
    height: 300px;
    background: #ff7b25;
    border-bottom: 1px solid black;
  }

  #ig {
    height: 300px;
    background: #6b5b95;
    border-bottom: 1px solid black;
  }
}

.your-project-container {
  text-align: center;
  background: lightblue;
  height: 300px;

  h1 {
    font-weight: 800;
    font-size: 50px;
    padding: .4em 0em .4em 0em;
  }

  p {
    padding: .4em 0em .4em 0em;
    font-size: 18px;
    font-weight: 500;
  }
}

.info {
  border-top: 1px solid black;
  margin-top: 4em;

  h1 {
    font-size: 32px;
    color: black;
    text-align: center;
  }

  h6 {
    padding: 0.5em 0em 0.5em 0em;
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-align: center;
  }

  p {
    padding: 0.5em 1em 1em 1em;
    height: 195px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;
    background-color: rgb(175, 93, 211);
    border-radius: .35em;
    border: 1px solid black;
  }
  
  #wservice {
    background-color: rgb(208, 191, 240);
    height: 375px;
    border-bottom: 1px solid black;
    padding: 3em 2em 0em 2em;
  }

  #bservice {
    background-color: rgb(208, 191, 240);
    height: 375px;
    border-bottom: 1px solid black;
    padding: 3em 2em 0em 2em;
  }
}

.blog-video {
  text-align: center;
  padding-bottom: 5em;
}

.footer {
  background: #0A191E;
  height: 175px;
}



